[{ssl,	         [
		  {versions,	       ['tlsv1.2']},
		  {secure_renegotiate, true}
		 ]},
 {rabbit,        [
		  {auth_mechanisms,  ['PLAIN', 'AMQPLAIN', 'EXTERNAL']},
                  {loopback_users,   []},
		  {tcp_listeners,    []},
		  {ssl_listeners,    [5671]},
		  {ssl_cert_login_from, common_name},
           	  {ssl_options, [{cacertfile,           "/etc/rabbitmq/cacert.pem"},
                                 {certfile,             "/etc/rabbitmq/cert.pem"},
                                 {keyfile,              "/etc/rabbitmq/key.pem"},
                                 {versions,             ['tlsv1.2']},
                                 {ciphers,    		[
							 {ecdhe_ecdsa,aes_256_cbc,sha384,sha384},
 							 {ecdhe_rsa,aes_256_cbc,sha384,sha384},
							 {ecdh_ecdsa,aes_256_cbc,sha384,sha384},
							 {ecdh_rsa,aes_256_cbc,sha384,sha384},
							 {dhe_rsa,aes_256_cbc,sha256},
							 {dhe_dss,aes_256_cbc,sha256},
							 {rsa,aes_256_cbc,sha256},
							 {ecdhe_ecdsa,aes_128_cbc,sha256,sha256},
							 {ecdhe_rsa,aes_128_cbc,sha256,sha256},
							 {ecdh_ecdsa,aes_128_cbc,sha256,sha256},
							 {ecdh_rsa,aes_128_cbc,sha256,sha256},
							 {dhe_rsa,aes_128_cbc,sha256},
 							 {dhe_dss,aes_128_cbc,sha256},
 							 {rsa,aes_128_cbc,sha256}
                                            		]},
                                 {honor_cipher_order,   true},
                                 {honor_ecc_order,      true},
                                 {secure_renegotiate,   true},
                                 {verify,               verify_peer},
                                 {fail_if_no_peer_cert, true}
				]}
		 ]},
 {rabbitmq_mqtt, [{default_user,     <<"guest">>},
                  {default_pass,     <<"guest">>},
                  {allow_anonymous,  false},
                  {vhost,            <<"/">>},
                  {exchange,         <<"amq.topic">>},
                  {subscription_ttl, 300000},
                  {prefetch,         10},
                  {ssl_listeners,    []},
                  %% Default MQTT with TLS port is 8883
                  %% {ssl_listeners,    [8883]}
                  {tcp_listeners,    [1883]},
                  {tcp_listen_options, [{backlog,   128},
                                        {nodelay,   true}
				       ]}
                 ]}
].
